background-color-peach{
  background-color: #ffe0d8 !important;
}
background-color-white{
  background-color: #FFFFFF !important;
}


body{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffe0d8 !important;
}

.logo{
  position: relative;
  top: 0px;
  left: 100px;
  width: 300px;
  height: 50px;
}

nav{
  margin-top: 5vh;
  display: flex;
  height: 10vh;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
}
main{
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.onboard-header{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.onboard-header>svg{
  display: flex;

  font-size: 70px;
}
h1, h2{
  margin: 1vh;
}
.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 10vh;
}

.button-container{
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-container>button{
  height: 7vh;
  width: fit-content;
  text-align: center;
  font: normal normal normal 20px/26px Roboto Slab;
  letter-spacing: 0px;
  color: #FFFFFF;
  background-color: #000000;
  opacity: 1;
  border-radius: 32px;
  border: none;
}




/*----------------------------------*/
.login-container{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 25vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #6E6E77;
  border-radius: 109px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 30px/40px Segoe UI;
  letter-spacing: 0px;
  color: #6E6E77;
}

.button-container, .input-container, .option-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.input-container>input{
  width: 20vw;
  height: 10vh;
  margin-top: 2vh;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: none;
  text-align: center;
  font: normal normal normal 20px/30px Segoe UI;
  letter-spacing: 0px;
  color: #6E6E77;
}
.button-container>button{
  width: 12vw;

  background: #CF307D 0% 0% no-repeat padding-box;
  border-radius: 30px;
}
.option-container{
  display: flex;
  height: 20%;
  width: 65%;
  justify-content: space-around;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 20px;
}
.chosen{
  text-decoration: underline;
  text-decoration-color: #ffe0d8;

}
.button-container{
  display: flex;
  height:30%;
}
button:hover{
  cursor: pointer;
}