body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff!important;
}

.logo{
    width: 300px;
    height: 40px;
}

nav{
    margin-top: 5vh;
    display: flex;
    height: 20vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}


.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 8vh;
}


.subpage{
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: flex-start;
    align-items: center;
    color: #ffe0d8;
    font: normal normal normal 40px/47px Segoe UI;
    letter-spacing: 0px;
    margin-left: 40vw;
    text-transform: uppercase;
}


/*----------------------------------*/
.fridge-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 35vw;
    background: #ffe0d8 0% 0% no-repeat padding-box;
    border: 0.5px solid #6E6E77;
    border-radius: 109px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #6E6E77;
}

.items-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 35vw;
}
.bills-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 35vw;
    background: #ffe0d8 0% 0% no-repeat padding-box;
    border: 0.5px solid #6E6E77;
    border-radius: 109px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #6E6E77;
}

.user-profile{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
}

.user-profile>img{
    width: 15vw;
    height: 80vh;
    border-radius: 100%;
}


.bills-story{
    margin-top: 10vh;
    display: flex;
    width: 80%;
    height: 80%;
    border-bottom: 1px solid white;
}

.bill{
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #6E6E77;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 40%;
    font-size: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 35px;
}

.add-bill{
    display: flex;
    width: 70%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.add-bill>input{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FEFEFE;
    text-align: center;
    font: normal normal normal 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #6E6E77;
    opacity: 1;
    border-radius: 32px;
}

.add-bill>svg{
    font-size: 25px;
    color:  white ;
}
.user-profile>h1{
    text-align: left;
    font: normal normal normal 22px/26px Lucida Sans;
    letter-spacing: 0px;
    color: #CF307D;
    opacity: 1;
    color: #cf307d ;
}

.middle-container{
    height: 90vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-to-pay{
    color: #cf307d;
}

.summary-bills{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.settle-button{
    height: 7vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cf307d;
    color: #FFFFFF;
    border-radius: 32px;
    border: none;

}



/*---------------------------------------------------*/



.item{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 35px;
    width: 90%;
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #6E6E77;
    opacity: 1;

}
.item>svg{
    color: #cf307d;
}
.item>img{

    width: 4vw;
    height: 4vw;
    border-radius: 100%;

}