.onboard-header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.onboard-header>svg{
    display: flex;

    font-size: 70px;
}
h1, h2{
    margin: 1vh;
}